---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Intro from "../components/Intro.astro";
import Experience from "../components/Experience.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="José Carlos Moreno Martín">
  <div class="fixed z-40 top-0 w-full">
    <Nav />
  </div>

  <Intro />
  <Experience />
  <Skills />
</Layout>
