---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Intro from '../components/Intro.astro';
---

<Layout title="José Carlos Moreno Martín">
	<div class="flex flex-col ">

		<div class="fixed z-10 top-0 w-full">

			<Nav ></Nav>
		</div>
		<div class="relative z-1">

			<Intro></Intro>
		</div>

		<Intro></Intro>
	</div>
</Layout>
