---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Experience from "../components/Experience.astro";
import Skills from "../components/Skills.astro";
import Mantenimiento from "./mantenimiento.astro";
---

<Layout title="José Carlos Moreno Martín">
  <div class="cartel">
    <h1>Página web en construcción.</h1>
    <Mantenimiento />
  </div>

  <!--  
  <Intro />
  <Experience />
  <Skills />
  -->
</Layout>

<style>
  .cartel {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 50px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
</style>
