---
import CardExperienceA from "./Card_experience_a.astro";
import CardExperienceB from "./Card_experience_b.astro";


---


<section>

    <a class="flex justify-center font-bold text-4xl"> Education & <span class="font-bold text-4xl text-rojo">&nbsp Expecience</span></a>


    <div class="flex flex-col mt-[150px]">

        <CardExperienceA
        img="../../public/deloitte_blanco.png" 
        titulo="Frontend Developer"
        empresa="Deloitte"
        ano="2023"
        ></CardExperienceA>
        <CardExperienceB 
        img="../../public/vedrunaBlanco.png" 
        titulo="Multiplatform Apps Developer"
        empresa="Vedruna"
        ano="2021 - 2023"
        ></CardExperienceB>
        <CardExperienceA 
        img="../../public/penduloBlanco.png" 
        titulo="Computer Graphics Generalis"
        empresa="Pendulo Studio"
        ano="2017 - 2018"
        ></CardExperienceA>
        <CardExperienceB 
        img="../../public/boneBlanco.png" 
        titulo="Computer Graphics Generalis"
        empresa="Bone Studio"
        ano="2016 - 2018"
        ></CardExperienceB>
        <CardExperienceA 
        img="../../public/whiteBlanco.png" 
        titulo="Computer Graphics Generalis"
        empresa="Whiteline Studio"
        ano="2014 - 2016"
        ></CardExperienceA>
        
        
    </div>
    
</section>

<style>

/* *{
    border: solid 1px rgba(255, 0, 0, 0.662);
} */



</style>
