---
import Proyectos from "./Proyectos.astro";
import experiencia from "../../public/mocks/experiencia.json";
---

<div class="h-24" id="idexperiencia"></div>
<section class="pb-32 pt-10 relative">
  <div class="max-w-7xl mx-auto px-6">
    <h2 class="text-center text-5xl md:text-6xl font-heading font-bold mb-20">
      <span class="bg-clip-text text-primar"> Experiencia </span>
    </h2>

    <div class="flex flex-col gap-24">
      {
        experiencia.map((experiencia) => {
          return <Proyectos experiencia={experiencia} />;
        })
      }
    </div>
  </div>
</section>
