---

---

<section id="idhome">
  <div
    class="flex flex-col justify-center gap-[5%] items-center h-screen lg:flex-row"
  >
    <div
      class="flex flex-col justify-center [&>p]:flex [&>p]:justify-end relative"
    >
      <p class="text-[3rem] md:text-[4rem] lg:text-[6rem] font-bold">
        José Moreno
      </p>
      <p
        class="sm:text-[0.5rem] md:text-[1rem] lg:text-[2.75rem] text-azul font-medium"
      >
        Software Developer
      </p>
    </div>
    <div class="w-1/2 flex justify-center max-w-[500px]">
      <img
        class="scale-x-[-1] bg-transparent relative z-2"
        src="images/fotoD.png"
        alt="foto"
      />
    </div>
  </div>
</section>

<script>
  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      e.preventDefault();
      const target = document.querySelector(this.getAttribute("href"));
      target.scrollIntoView({
        behavior: "smooth",
      });
    });
  });
</script>
