---

---

<section id="idhome">
  <!-- este div es para hacer efecto card de midudev -->
  <div class="flex justify-center gap-[5%] items-center h-screen">
    <!-- <div class="bg-white bg-opacity-[2%] rounded-xl w-[1300px] h-[600px] absolute ">

            </div> -->
    <div
      class="flex flex-col justify-center [&>a]:flex [&>a]:justify-end relative"
    >
      <a class="opacity-75 sm:text-[0.25rem] md:text-[0.75rem] lg:text-[1.5rem]"
        >Hello, I'm</a
      >
      <a class="sm:text-[1rem] md:text-[2rem] lg:text-[6rem] font-bold"
        >José Moreno</a
      >
      <a
        class="sm:text-[0.5rem] md:text-[1rem] lg:text-[2.75rem] text-azul font-medium"
        >Frontend Developer</a
      >
    </div>
    <div class="w-1/2 flex justify-center max-w-[500px]">
      <img
        class="scale-x-[-1] bg-transparent relative z-2"
        src="images/fotoD.png"
      />
    </div>
  </div>
</section>

<script>
  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      e.preventDefault();

      const target = document.querySelector(this.getAttribute("href"));
      target.scrollIntoView({
        behavior: "smooth",
      });
    });
  });
</script>
