---
import Icono_linkedin from "./icons/Icono_linkedin.astro";
import Icono_github from "./icons/Icono_github.astro";
---

<header
  class="barra flex justify-between items-center px-[5%] pt-7 pb-5 backdrop-filter backdrop-blur-md scrollnav--oscuro"
>
  <!-- Logo -->
  <p class="barra__logo font-bold text-2xl flex w-[100px]">
    Portfolio<span class="text-azul font-bold text-2xl">.</span>
  </p>

  <!-- Menu -->
  <nav class="hidden lg:block">
    <ul
      class="barra__links flex gap-14 [&>li>a]:text-base [&>li>a]:cursor-pointer"
    >
      <li>
        <a href="#idhome" class="barra__link barra__link--active" data-ref="1"
          >Inicio</a
        >
      </li>
      <li>
        <a href="#idexperiencia" class="barra__link" data-ref="2">Experiencia</a
        >
      </li>
      <li>
        <a href="#idEducacion" class="barra__link" data-ref="3">Educación</a>
      </li>
      <li>
        <a class="barra__link cursor" data-ref="4">Proyectos</a>
      </li>
    </ul>
  </nav>

  <!-- Redes sociales -->

  <nav class="flex justify-end barra__links w-[100px]">
    <a
      href="https://github.com/MrHarvyson"
      target="_blank"
      class="barra__link pr-5"
    >
      <Icono_linkedin />
    </a>
    <a
      href="https://www.linkedin.com/in/josecarlosmorenomartin/"
      target="_blank"
      class="barra__link"
    >
      <Icono_github />
    </a>
  </nav>
</header>

<style>
  .barra__link--active {
    color: var(--color-azul);
  }

  .scrollnav--oscuro {
    background-color: var(--color-barra-oscuro);
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
  }

  .scrollnav--claro {
    background-color: var(--color-barra-claro);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.4);
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
  }
</style>

<script>
  const links = document.querySelector(".barra__links");
  const link = document.querySelectorAll(".barra__link");
  const logo = document.querySelectorAll(".barra__logo");

  // seleccion elementos
  links!.addEventListener("click", function (e) {
    const click = e.target as HTMLElement;
    const id = click.getAttribute("data-ref");

    if (click.classList.contains("barra__link")) {
      link.forEach(function (e) {
        e.classList.remove("barra__link--active");
      });
      click.classList.add("barra__link--active");
    }
  });

  // opacidad elementos

  links!.addEventListener("mouseover", function (e) {
    const over = e.target as HTMLElement;
    if (over!.classList.contains("barra__link")) {
      link.forEach(function (e) {
        e.classList.add("opacity");
      });
      over.classList.remove("opacity");
      logo.forEach(function (e) {
        e.classList.add("opacity");
      });
    }
  });

  links!.addEventListener("mouseout", function (e) {
    const over = e.target as HTMLElement;
    if (over.classList.contains("barra__link")) {
      link.forEach(function (e) {
        e.classList.remove("opacity");
      });
      logo.forEach(function (e) {
        e.classList.remove("opacity");
      });
    }
  });

  // transmision nav

  window.addEventListener("scroll", function () {
    const alturaY = 75; // La altura de Y en la que deseas activar el evento

    if (window.scrollY >= alturaY) {
      document.querySelector(".barra")!.classList.add("scrollnav--claro");
      document.querySelector(".barra")!.classList.remove("scrollnav--oscuro");
    } else {
      document.querySelector(".barra")!.classList.remove("scrollnav--claro");
      document.querySelector(".barra")!.classList.add("scrollnav--oscuro");
    }
  });
</script>
