---
import Icono_linkedin from "./icons/Icono_linkedin.astro";
import Icono_github from "./icons/Icono_github.astro";
---

<header
  class="barra flex justify-between items-center px-[5%] pt-7 pb-5 backdrop-filter backdrop-blur-md scrollnav--oscuro"
>
  <!-- Logo -->
  <p class="font-bold text-2xl flex w-[100px]">
    Portfolio<span class="text-azul font-bold text-2xl">.</span>
  </p>

  <!-- Menu -->
  <nav class="hidden md:block">
    <ul
      class="barra__links flex gap-14 [&>li>a]:text-base [&>li>a]:cursor-pointer"
    >
      <li>
        <a href="#idhome" class="barra__link barra__link--active" data-ref="1"
          >Inicio</a
        >
      </li>
      <li>
        <a href="#idexperiencia" class="barra__link" data-ref="2">Experiencia</a
        >
      </li>
      <li>
        <a href="#idEducacion" class="barra__link" data-ref="3">Educación</a>
      </li>
      <li>
        <a class="barra__link cursor" data-ref="4">Proyectos</a>
      </li>
    </ul>
  </nav>

  <!-- Redes sociales -->

  <nav class="flex justify-end barra__links w-[100px]">
    <a
      href="https://github.com/MrHarvyson"
      target="_blank"
      class="barra__link pr-5"
    >
      <Icono_linkedin />
    </a>
    <a
      href="https://www.linkedin.com/in/josecarlosmorenomartin/"
      target="_blank"
    >
      <Icono_github />
    </a>
  </nav>
</header>
