---

---

<nav>
    <ul
        class="flex h-20 items-center bg-fondo justify-evenly [&>li>a]:text-base"
    >
        <li>
            <a href="#idhome">Inicio</a>
        </li>
        <li>
            <a href="#idexperiencia">Experiencia</a>
        </li>
        <li>
            <a href="#idEducacion">Educación</a>
        </li>
        <li>
            <a class="cursor">Proyectos</a>
        </li>
    </ul>
</nav>
