---

---

<div class="h-24" id="idskills"></div>
<section>
  <p class="flex justify-center font-bold text-6xl">
    My <span class="font-bold text-6xl text-amarillo">_Skills</span>
  </p>
  <div class="h-[1000px]"></div>
</section>
