---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap"
      rel="stylesheet"
    />
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --color-fondo: #2c2d30;
    --color-barra-oscuro: #2c2d30;
    --color-barra-claro: #343539f6;
    --color-azul: #0bceaf;
    --color-azul-75: #0bceae86;
    --color-blancoRoto: #ffffff83;
    --color-rojo: #ff5380;
    --color-amarillo: #fbdd62;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-weight: 300;
    cursor: url(../../public/cursorA.png),auto;
    
  }
  html{
    background-color: var(--color-fondo);
  }


  .cursor{
    cursor: url(../../public/cursorB.png),auto;
  }

  .opacity {
  opacity: 25%;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}
</style>
